*{
	font-size: 16px;
	font-family: "open-sans";
}

li{
	list-style: none;
}
.header{
	background: #0F88F3;
	display: flex;
	flex-direction: row;
	align-items: center;

}
.logo h2{
	font-size: 18pt;
	color: #fff;
}
.nav{
	margin-left: 50px;
	margin-top: 5px;
}
.nav ul{
	display: flex;
	flex-direction: row;
	list-style:none; 
	align-items: flex-end;
}
.nav ul>li{
	margin-right: 35px; 
}
.nav ul>li>a{
	font-size: 7pt;
	color: #d2e7fb;
	text-decoration: none;
}

.focus-panel{
	background: #0F88F3;
}
.content{
	display: flex;
	flex-direction: row;
}
.text-panel{
	margin-top: 150px;
}
.text-panel h2{
	font-size: 18pt;
	color: #fff;
}
.text-panel p{
	font-size: 7.5pt;
	color: #d2e7fb;
}	
input[name="focus-panel"]{
	background: #9addfc;
	color: #345477;
	border: none;
	font-size: 8.5pt;
	padding: 15px 25px;
	cursor: pointer;
}
.text-panel a{
	color: #d2e7fb;
	font-size: 7pt;
	text-decoration: underline;
	margin-left: 30px;
}
.img-panel img{
	width:670px;
	height: 501px; 
}
.partners{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}
.partners p{
	color: #a3d0fc;

}
.partners ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 25px;
}
.partners ul>li{
	margin-right: 35px; 
	font-size: 7.5pt;
}
.partners ul>li>img{
	height: 20px;
}
.carousel{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.carousel-inner{

	border-bottom: 1px solid #1e91f7;  

}
.carousel-item2 {
	display: flex;
	justify-content: space-between;
}
.carousel-item2 li:first-child{
	border-left: 1px solid #1e91f7;
}
.carousel-item2 li{
	display: flex;
	flex-direction: column;
	border-right: 1px solid #1e91f7;
}
.carousel-item li>img{
	max-width: 280px;
	max-height: 339px;
}
.carousel-item2>li>p{
	color: #315479;
	margin-bottom: 0;
	margin-top: 10px;
	font-size: 	10pt;
	font-weight: bolder;
	text-align: center;
}
.carousel-control-prev-icon {

	background-image: url("img/Shape2.png") !important;
}
.carousel-control-next-icon {

	background-image: url("img/Shape3.png") !important;
}

.text-big-panel{
	display: flex;
	flex-direction: column;
}
.text-big-panel h2{
	font-size: 18pt;/*16*/
	color: #315479;
	text-align: center;
	margin-top: 50px;
}
.first-article, .second-article{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	margin-top: 50px;
}
.first-article img, .second-article img{
	width: 500px;
	height: 400px;
}
.first-article h3, .second-article h3{
	color: #315479;
	font-size: 16pt;/*12.5*/
}
.first-article p, .second-article p{
	color: #888;
	font-size: 14pt;/*11*/
}
.recomendation h2{
	color: #315479;
	font-size: 18pt;
	text-align: center;
	margin-top: 100px;
}
.recomendation-block{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 50px;
}
.recomendation-small-block{
	width: 33%;

}
.recomendation-text img{
	height: 25px;
	width: 25px;
	margin-right: 20px;

}
.recomendation-text{
	background-image: url(img/RoundedRectangle3.png);
	-webkit-background-size: 100% 80%;
	background-size: 100% 80%;
	background-repeat: no-repeat;
	margin-right: 10px;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 20px 20px 0 20px;
}
.recomendation-text p{
	color: #fff;
	font-size: 8.5pt;
}
.recomendation-text-small h4{
	margin-top: -25px;
	margin-left: 15px;
}